
<div class="container">
   <table *ngIf="ticketsList && userEmail!=null " class="table table-striped ticket1" style="margin-bottom: 0">
<tbody>
    <th>Ticket Id</th>
    <th>Bus #</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Seats</th>
    <th>departureDate</th>
    <th>departureTime</th>
    <th>View Tickets</th>
    <tr *ngFor="let tickets of ticketsList">
        <td>{{tickets?.ticketId}}</td>
        <td>{{tickets?.busNum}}</td>
        <td>{{tickets?.source}}</td>
        <td>{{tickets?.destination}}</td>
        <td>{{tickets?.seats}}</td>
        <td>{{tickets?.departDate | date:'mediumDate'}}</td>
        <td>{{tickets?.departTime}}</td>
        <td><a class="btn btn-primary" (click)="setTicketId(tickets?.ticketId)">View Ticket</a></td>
    </tr>
</tbody>
</table>
</div>
