<div class="row">
    <table class="table table-striped" style="margin-bottom: 0">
        <caption>Ticket Information</caption>
        <thead>
            <!-- Column names -->
            <tr>
                <th scope="col-sm-12">Passenger Name</th>
                <th scope="col-sm-12">Bus #</th>
                
            </tr>
            <tr>
                <th scope="col-sm-12">Passenger Email</th>
                <th scope="col-sm-12">Source</th>                
            </tr>
            <tr>
                <th scope="col-sm-12">Phone</th>
                <th scope="col-sm-12">Desination</th>                
            </tr>
            <tr>
                <th scope="col-sm-12">Departure Date</th>
                <th scope="col-sm-12">Departure Time</th>                
            </tr>
            <tr>
                <th scope="col-sm-12">No. Of Tickets</th>
                <th scope="col-sm-12">Total Fare</th>                
            </tr>
        </thead>
        <tbody>
            <!-- Data -->
            <tr>
               
                <td>{{userName}}</td>
            </tr>
            <tr>
                <th scope="row">Email:</th>
                <td>{{userEmail}}</td>
            </tr>
            <tr>
                <th scope="row">Contact:</th>
                <td>{{userPhone}}</td>
            </tr>
            <tr>
                <th scope="row">Seat #:</th>
              
            </tr>            

        </tbody>

    </table>

</div>