
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form [formGroup]="registerForm" (submit)="SendData()">
                        <div class="row">                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="form-label">Name</span>
                                    <input class="form-control" type="text" formControlName="name" placeholder="Name"
                                        required>
                                        <span *ngIf="(registerForm.get('name').value == '') &&(registerForm.get('name').touched || registerForm.get('name').dirty)" [ngClass]="{validate:(registerForm.get('name').value == '') &&(registerForm.get('name').touched || registerForm.get('name').dirty)}">Name Required</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Date Of Birth</span>
                                    <input class="form-control" type="date" formControlName="dob">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Phone Number</span>
                                    <input class="form-control" type="text" maxlength="10" pattern="\d{10}"
                                        formControlName="phone" placeholder="Phone Number">

                                        <span *ngIf="(registerForm.get('phone').value == '') &&(registerForm.get('phone').touched || registerForm.get('phone').dirty)" [ngClass]="{validate:(registerForm.get('phone').value == '') &&(registerForm.get('phone').touched || registerForm.get('phone').dirty)}">Phone Number Required</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">E-mail</span>
                                    <input class="form-control" type="email" formControlName="email"
                                        placeholder="Email Address" required>
                                        <span *ngIf="(registerForm.get('email').value == '') &&(registerForm.get('email').touched || registerForm.get('email').dirty)" [ngClass]="{validate:(registerForm.get('email').value == '') &&(registerForm.get('email').touched || registerForm.get('email').dirty)}">E-Mail Required</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Password</span>
                                    <input class="form-control" type="password" formControlName="password" maxlength="6"
                                        placeholder="Password" required>

                                        <span *ngIf="(registerForm.get('password').value == '') &&(registerForm.get('password').touched || registerForm.get('password').dirty)" [ngClass]="{validate:(registerForm.get('password').value == '') &&(registerForm.get('password').touched || registerForm.get('password').dirty)}">E-Mail Required</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">

                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6 subBtn">
                                <div class="form-btn">
                                    <input type="submit" class="submit-btn" value="Register" />

                                </div>
                            </div>
                            <br>

                            <div *ngIf="isEmailExists" class="text-center w-100 emailexists">
                                <span  ngClass="{emailexists:isEmailExists}">Your Email Already Exists.Please login.</span>
                            </div>
                            <br>

                            <div class="text-center w-100">
                                <p class="font-weight-bold emailexists">Already a User? <a routerLink="/login"
                                        class="text-success ml-2 pointer">Login</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>